@page
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="Dashboard">
    <ul class="tabs">
        <li data-tab-target="#credentials" class="active tab">Credentials</li>
        <li data-tab-target="#users" class="tab">Users</li>
        <li data-tab-target="#statistics" class="tab">Statistics</li>
    </ul>

    <div class="tab-contents">
        <div id="credentials" data-tab-content class="active">
            <h1>Login/Signup</h1>
            <p>This is the Credentials Page</p>
        </div>

        <div id="users" data-tab-content>
            <h1>Users</h1>
            <p>This is the Users Page</p>
        </div>

        <div id="statistics" data-tab-content>
            <h1>Statistics</h1>
            <p>This is the Statistics Page</p>
           
        </div>
    </div>

</div>
