@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="parallax">
    <div class="content-div"> <h2>Div1</h2> </div>
    <div class="content-div"> <h2>Div2</h2> </div>
    <div class="content-div"> <h2>Div3</h2> </div>
    <div class="content-div"> <h2>Div4</h2> </div>
</div>